<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Randonnées à La sainte-Victoire</title>
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <p>Pour plus de renseignement : <a :href="moreInfos.link" target="_blank">{{ moreInfos.title }}</a></p>
        <h2>Les randonnées</h2>
        <p>Nombre de randonnées : {{ totalHiking }}</p>
        <p>Durée totale : {{ totalDuration }}h</p>
        <p>Distance totale : {{ totalDistance }}km</p>
        <h2>Ma randonnée personnalisée</h2>
        <div>
            <label for="duration">Durée de ma randonnée : </label>
            <input id="duration" type="number" v-model="duration" />
            <button v-on:click="resetDuration">Reset</button>
        </div>
        <div>
            <label for="distance">Nombre de kilomètres de ma randonnée : </label>
            <input id="distance" type="number" v-model="distance" />
            <button v-on:click="resetDistance">Reset</button>
        </div>
        <div>
            <label for="difficulty">Difficulté de ma randonnée : </label>
            <select id="difficulty" v-model="difficulty">
                <option value="0">Toutes difficultées</option>
                <option value="facile">Facile</option>
                <option value="difficile">Difficile</option>
                <option value="moyenne">Moyenne</option>
            </select>
        </div>
        <div v-for="item in filteredByAll">
            <h3>{{ item.name }}</h3>
            <ul>
                <li>{{ item.duration }}h</li>
                <li>{{ item.distance }}km</li>
                <li>Difficulté : {{ item.difficulty }}</li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                title: 'Randonnées à La sainte-Victoire',
                moreInfos: {
                    title: 'Grand site Sainte-Victoire', 
                    link: 'http://www.grandsitesaintevictoire.com/'
                },
                hiking: [
                    { name: "Le tholonet", duration: '3', distance: '9', difficulty: 'moyenne'},
                    { name: "Vauvenargues", duration: '4', distance: '12', difficulty: 'difficile'},
                    { name: "Jouques", duration: '3', distance: '8', difficulty: 'facile'}
                ],
                duration: '',
                distance: '',
                difficulty: '',
            },
            methods: {
                resetDistance: function(e) {
                    e.preventDefault()
                    this.distance = ""
                },
                resetDuration: function(e) {
                    e.preventDefault()
                    this.duration = ""
                }
            },
            computed: {
                totalHiking() {
                    for (let item in this.hiking) {
                        total = parseInt(item) + 1;
                    }
                    return total;
                },
                totalDuration() {
                    let total = 0;
                    for (let item in this.hiking) {
                        total += this.hiking[item].duration;
                    }
                    return total;
                },
                totalDistance() {
                    let total = 0;
                    for (let item in this.hiking) {
                        total += this.hiking[item].distance;
                    }
                    return total;
                },
                filteredByAll() {
                    return getByDifficulty(getByDuration(getByDistance(this.hiking, this.distance), this.duration), this.difficulty)
                },
                filteredByDifficulty() {
                    return getByDifficulty(this.hiking, this.difficulty)
                },
                filteredByDuration() {
                    return getByDuration(this.hiking, this.duration)
                },
                filteredByDistance() {
                    return getByDistance(this.hiking, this.distance)
                }
            }
        })

        function getByDifficulty(hiking, difficulty) {
            if (!difficulty || difficulty === '0') return hiking
            return hiking.filter(item => item.difficulty === difficulty)
        }

        function getByDuration(hiking, duration) {
            if (!duration || duration === '0') return hiking
            return hiking.filter(item => item.duration === duration)
        }

        function getByDistance(hiking, distance) {
            if (!distance || distance === '0') return hiking
            return hiking.filter(item => item.distance === distance)
        }
    </script>
</body>
</html>