<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Randonnées à La sainte-Victoire</title>
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <p>Pour plus de renseignement : <a :href="moreInfos.link" target="_blank">{{ moreInfos.title }}</a></p>
        <h2>Les randonnées</h2>
        <p>Nombre de randonnées : {{ totalHiking }}</p>
        <p>Durée totale : {{ totalDuration }}h</p>
        <p>Distance totale : {{ totalDistance }}km</p>
        <h2>Ma randonnée personnalisée</h2>
        <div>
            <label for="duration">Durée de ma randonnée : </label>
            <input id="duration" type="number" v-model="duration" /> h
            <button v-on:click="resetDuration">Reset</button>
        </div>
        <div>
            <label for="distance">Nombre de kilomètres de ma randonnée : </label>
            <input id="distance" type="number" v-model="distance" /> km
            <button v-on:click="resetDistance">Reset</button>
        </div>
        <div>
            <label for="difficulty">Difficulté de ma randonnée : </label>
            <select id="difficulty" v-model="difficulty">
                <option value="0">Toutes difficultées</option>
                <option value="facile">Facile</option>
                <option value="difficile">Difficile</option>
                <option value="moyenne">Moyenne</option>
            </select>
        </div>
        <div v-for="item in filteredByAll">
            <h3>{{ item.name }}</h3>
            <ul>
                <li>{{ item.duration }}h</li>
                <li>{{ item.distance }}km</li>
                <li>Difficulté : {{ item.difficulty }}</li>
                <li>A visiter durant la randonnée : {{item.interestName}}</li>
            </ul>
        </div>

        <div id="interests">
            <div v-for="item in hiking">
                <input type="checkbox" v-bind:id="item.interest" v-bind:value="item.interest" v-model="interests">
                <label v-bind:for="item.interest">{{item.interestName}}</label>
            </div>
        </div>
        <div v-for="item in filteredByInterests">
            <h3>{{ item[0].name }}</h3>
            <ul>
                <li>{{ item[0].duration }}h</li>
                <li>{{ item[0].distance }}km</li>
                <li>Difficulté : {{ item[0].difficulty }}</li>
                <li>A visiter durant la randonnée : {{item[0].interestName}}</li>
            </ul>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                title: 'Randonnées à La sainte-Victoire',
                moreInfos: {
                    title: 'Grand site Sainte-Victoire', 
                    link: 'http://www.grandsitesaintevictoire.com/'
                },
                hiking: [
                    { name: 'Puyloubier', duration: '1', distance: '3', difficulty: 'difficile', interestName: 'Chapelle Saint-Ser', interest:'1'},
                    { name: 'Le tholonet', duration: '3', distance: '9', difficulty: 'moyenne', interestName: 'Barrages Zola et Bimont', interest:'2'},
                    { name: 'Vauvenargues', duration: '4', distance: '12', difficulty: 'difficile', interestName: 'Prieuré et Croix de Provence', interest:'3'},
                    { name: 'Jouques', duration: '3', distance: '8', difficulty: 'facile', interestName: 'Chapelle Notre-Dame de Consolation', interest:'4'}
                ],
                duration: '',
                distance: '',
                difficulty: '',
                interest: '',
                interests: []
            },
            methods: {
                resetDistance: function(e) {
                    e.preventDefault()
                    this.distance = ""
                },
                resetDuration: function(e) {
                    e.preventDefault()
                    this.duration = ""
                },
                getByDifficulty: function(hiking, difficulty) {
                    if (!difficulty || difficulty === '0') return hiking
                    return hiking.filter(item => item.difficulty === difficulty)
                },
                getByDuration: function(hiking, duration) {
                    if (!duration) return hiking
                    return hiking.filter(item => item.duration === duration)
                },
                getByDistance: function(hiking, distance) {
                    if (!distance) return hiking
                    return hiking.filter(item => item.distance === distance)
                },
                getByInterest: function(hiking, interest) {
                    if (!interest || interest === '0') return hiking
                    return hiking.filter(item => item.interest === interest)
                },
                getByInterests: function(hiking, interests) {
                    if (!interests) return hiking
                    let hikingInterests = []
                    for (i in hiking) {
                        hikingInterests.push(hiking[i].interest)
                    }
                    let interest = hikingInterests.filter(item => interests.includes(item))
                    let hikings = []
                    for (let i = 0; i < interest.length; i++) {
                        hikings.push(hiking.filter(item => item.interest === interest[i]))
                    }
                    return hikings
                }
            },
            computed: {
                totalHiking() {
                    for (let item in this.hiking) {
                        total = parseInt(item) + 1;
                    }
                    return total;
                },
                totalDuration() {
                    let total = 0;
                    for (let item in this.hiking) {
                        total += parseInt(this.hiking[item].duration);
                    }
                    return total;
                },
                totalDistance() {
                    let total = 0;
                    for (let item in this.hiking) {
                        total += parseInt(this.hiking[item].distance);
                    }
                    return total;
                },
                filteredByAll() {
                    return this.getByDifficulty(this.getByDuration(this.getByDistance(this.hiking, this.distance), this.duration), this.difficulty)
                },
                filteredByDifficulty() {
                    return this.getByDifficulty(this.hiking, this.difficulty)
                },
                filteredByDuration() {
                    return this.getByDuration(this.hiking, this.duration)
                },
                filteredByDistance() {
                    return this.getByDistance(this.hiking, this.distance)
                },
                filteredByInterests() {
                    return this.getByInterests(this.hiking, this.interests)
                }
            }
        })
    </script>
</body>
</html>